# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AUCTION_DATABASE_URL="mysql://root:password@localhost:3306/mmorpg_kit_auction"

MAIL_DATABASE_URL="mysql://root:password@localhost:3306/mmorpg_kit"

# Binding Address
ADDRESS=0.0.0.0

# Port which it will be running on
PORT=9001

MAIL_SENDER_ID="System"

MAIL_SENDER_NAME="Auction Manager"

MAIL_BOUGHT_TITLE="Auction Item"

MAIL_BOUGHT_CONTENT=""

MAIL_SOLD_TITLE="Auction Item"

MAIL_SOLD_CONTENT=""

MAIL_BID_CURRENCY_RETURN_TITLE="Return Bid Gold"

MAIL_BID_CURRENCY_RETURN_CONTENT=""