# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AUCTION_DATABASE_URL="mysql://root:password@localhost:3306/mmorpg_kit_auction"

MAIL_DATABASE_URL="mysql://root:password@localhost:3306/mmorpg_kit"

# Binding Address
ADDRESS=0.0.0.0

# Port which it will be running on
PORT=9800

# Secret keys
SECRET_KEYS=["secret"]